.fl {
	float: left;
}

.fr {
	float: right;
}

a {
    text-decoration: none;
    color: #666;
}

p {
    text-indent: 2em;
    line-height: 2em;
}

body {
    font-size: normal;
    font-family: Centaur, Georgia, Helvetica, Arial, "Microsoft Yahei", STHeiti, PMingLiU, sans-serif;
    background: white;
    color: #888;
}

#top {
	background: #222;
	padding: 3px 0;
	font-size: .9em;
	box-shadow: 0 -2px 5px rgba(255, 255, 255, .1) inset;
}

#top li a {
    color: white;
}

img.user_avatar {
	width: 18px;
	height: 18px;
}

.nav > li > a {
	padding: 5px 10px;
}

b.br {
    color: #ff007e;
}

b.bg {
    color: #a2ff00;
}

b.bb {
    color: #00a8ff;
}

@media screen and (max-width: 767px) {
	.navbar-nav {
		margin: 0;
	}

	.navbar-nav > li {
		float: left;
	}

	.nav > li > a {
		padding: 5px 10px;
	}
}

#left-wrap {
    position: fixed;
    width: 300px;
    padding: 30px 0 0;
    float: left;
    text-align: center;
}

#avatar-wrap {
    background: #f9f9f9;
    border-bottom: 1px solid #e5e5e5;
}

#avatar-wrap span {
    display: block;
}

span#avatar {
    float: left;
    margin: 10px;
    width: 90px;
    height: 90px;
    overflow: hidden;
}

span#avatar img {
    width: 90px;
    height: 90px;
}

span#myname {
    font-size: 3em;
    margin: 12px 0 0 10px;
    font-weight: bold;
    display: block;
}

span#myname a {
    color: #ffb8b8;
}

span#myname a:hover {
    color: rgb(209, 63, 104);
    text-decoration: none;
}

span#birthday {
	font-size: .9em;
    color: #bbb;
    margin: 0 0 0 15px;
    display: block;
    font-family: Georgia, Helvetica, Arial, "Microsoft Yahei", STHeiti, PMingLiU, sans-serif;
}

#right-wrap {
    width: 70%;
    padding: 30px 0 50px 0;
    float: right;
}

.entry-title {
    border-bottom: 2px solid #ccc;
    margin: 0 0 20px 0;
    position: relative;
}

.entry-date {
    font-weight: bold;
}

span.e-date {
    font-family: Georgia, Helvetica, Arial, "Microsoft Yahei", STHeiti, PMingLiU, sans-serif;
    font-size: 4em;
}

span.e-date-s {
    font-size: 1.2em;
}

a.entry-title-link {
    color: #999;
}

.photos_count {
    font-size: .9em;
    position: absolute;
    right: 4px;
    bottom: 2px;
    line-height: 2em;
}

ul.photos {
	padding-left: 2px;
	margin-right: -5px;
}

ul.photos li {
    float: left;
    max-height: 206px;
    overflow: hidden;
    margin: 0 5px 5px 0;
}

/* photo */
.photo {
    position: relative;
    line-height: 0;
}

.photo img {
    max-height: 206px;
}

.photo span.photo-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fee;
    color: #111;
    display: block;
    opacity: 0.6;
    padding: 8px;
    font-size: .9em;
    width: 100%;
    line-height: 1em;
}

.photo span.rotation {
    display: none;
}

.photo span.n-rotation {
    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: url(../images/nr.png) 0 0 no-repeat;
    text-indent: -9999px;
    top: 78px;
    left: 8px;
}

.photo span.s-rotation {
    position: absolute;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: url(../images/sr.png) 0 0 no-repeat;
    text-indent: -9999px;
    top: 78px;
    right: 8px;
}

.photo span.n-rotation:hover, .photo span.s-rotation:hover {
    background-position: 0 -24px;
}

.photo span.edit-caption {
    position: absolute;
    cursor: pointer;
    bottom: 8px;
    right: 22px;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    background: url(../images/edit_12x12.png) 0 0 no-repeat;
}

.photo span.edit-caption:hover {
    background-position: 0 -12px;
}

.photo span.hide-photo {
    position: absolute;
    cursor: pointer;
    bottom: 8px;
    right: 6px;
    text-indent: -9999px;
    width: 12px;
    height: 12px;
    background: url(../images/hide_12x12.png) 0 0 no-repeat;
}

.photo span.hide-photo:hover {
    background-position: 0 -12px;
}

.photo span.hidden {
    cursor: pointer;
    background-position: 0 -12px;
}

.photo span.comment-photo {
    position: absolute;
    cursor: pointer;
    background: url(../images/comment.png) 0 0 no-repeat;
    top: 8px;
    left: 8px;
    width: 24px;
    height: 24px;
    text-align: center;
    font-family: Calibri, "PT Sans", "Trebuchet MS", 'Helvetica Neue', Arial;
    font-weight: bold;
}

.photo span.comment-photo a {
    font-size: .8em;
    color: #ff6700;
    width: 24px;
    height: 15px;
    padding-top: 9px;
    display: block;
}

.hiddenP {
    height: 180px;
    text-indent: -9999px;
    background: #efefef url(../images/hidden.png) center center no-repeat;
}

.update-photo-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    background: #fee;
    font-size: .9em;
}

.update-photo-caption .btn {
	margin: 2px 0;
}

.btn-xs, .btn-group-xs > .btn {
	font-size: .9em;
}

.update-photo-caption input {
    font-size: 1.6em;
}

input.caption-input {
    width: 70%;
    height: 2.5em;
    margin-right: 5px;
}

input.submit {
    cursor: pointer;
    background: #fee;
}

.closeform {
}

.photos_count {
    font-size: .9em;
    position: absolute;
    right: 0;
    bottom: 0;
    line-height: 2em;
}

span.photo-shooting-time {
    display: none;
}
/* photo end */

/* comments */
.comment-popup-block {
    background: white;
    position: relative;
    padding: 50px 0;
}

.comment-popup-block h2 {
    font-weight: normal;
    font-size: 1.2em;
    width: 90%;
    margin: 5px auto;
    display: block;
}

.comment-popup-block hr {
    border-top: 1px solid #dcdcdc;
    width: 89%;
    margin: 15px auto;
    display: block;
}

.comment-popup-block form p {
    text-indent: 0;
}

.comment-popup-block form p.submit {
    text-align: right;
    width: 90%;
    margin: 0 auto;
    display: block;
}

.comment-popup-block form textarea {
    border: 1px solid #bbb;
    width: 90%;
    height: 45px;
    margin: 0 auto;
    display: block;
}

input.submit-post {
    padding: 4px 8px;
}

.comment-popup-block #comments-popup-block {
    width: 90%;
    margin: 0 auto;
    display: block;
}

.comment-popup-block #comments-popup-block hr {
    width: 100%;
}

.comment-popup-block #comments-popup-block dt {
    font-size: .8em;
}

.comment-photo {
    margin: 0 auto 10px;
    text-align: center;
}

.comment-photo img {
    max-height: 200px;
}

.comments ul {
    border: 1px dotted #ccc;
    margin: 10px 0 10px 10px;
    padding: 5px;
    background: #fffefe;
    list-style: none outside none;
}

.span.comment-user {
    display: block;
}

#form-comment form textarea {
    border: 1px solid #bbb;
    width: 90%;
    height: 60px;
    display: block;
}

dl.comment dt {
	border-bottom: 1px solid #ddd;
}
/* comments */

#pages {
	font-size: 1.2em;
	margin-left: 1em;
}

.entry-body p {
    font-size: 1.1em;
}

.entry-body a {
    color: #428bca;
}

#footer {
    background: #f6ffff;
    font-size: .9em;
    border-top: 1px solid #e5e5e5;
    color: #999;
    padding: 30px 0;
    text-align: center;
}
